<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Headboard</title>
</head>

<body>
    <h1>Welcome to the Headboard</h1>
    <a href="/logout">Logout</a>
    <p>How many lines of code did you write today, {{user.first_name}}?</p>
    <h1>Posts</h1>
    <a href="/postings/new">Create a Post</a>

    {% for posting in postings %}

    <p>{{ posting.created_at }}</p>

    <p>Posted by: {{ posting.user.first_name }} {{ posting.user.last_name }}</p>
    <p>Credentials: {{ user.github }} </p>

    <div>

        <a href="/show/{{posting.id}}">View</a>
        {% if session['user_id'] == posting.user_id %}
        <a href="/edit/{{posting.id}}">| Edit |</a>
        <a href="/posting/delete/{{posting.id}}">Delete</a>
        {% endif %}

    </div>

    {% endfor %}
    <!-- <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table> -->
</body>

</html>