<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Headboard</title>
</head>

<body>
    <h1>Welcome to the Headboard</h1>
    <a href="/logout">Logout</a>
    <h2> Posted by: {{posting.user.first_name}} {{posting.user.last_name}} </h2>
    <p>Years coding: {{ posting.time }} </p>
    <p>Lines of code written today: {{ posting.lines_of_code }}</p>
    <p>Favorite algorithm: {{ posting.favorite_algo }}</p>
    <p>Explanation: {{ posting.explanation }}</p>
    <p>Dream job: {{posting.dream_job}} </p>
    <a href="/dashboard">Go back</a>
</body>

</html>