[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-cloud = "*"
google-cloud-pubsub = "==1.4.0"
flask = "*"
pymysql = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.10"
